<footer class="footer">
<small>
<a href="http://railstutorial.org/">Rails Tutorial</a>By Ed arroyo
</small>

<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<!--link_to displays About and links to about_path which is just a 
variable with a path to the about page. Can be found in routes-->
<li><%= link_to "Contact", contact_path %></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>